<?php
$settings = $block->settings();
?>
</div>
</div>
</div>
<?php
if ($settings->getValue('b1/relation_type') == 'more_1') {
    $input_type = "return '<input type=\"checkbox\" name=\"shop_item[]\" value=\"' + data + '\">';";
} else {
    $input_type = "return '<input type=\"radio\" name=\"shop_item\" value=\"' + data + '\">';";
}
?>
<script type="text/javascript">
    require(['jquery', 'DataTable'], function () {
        jQuery(document).ready(function () {
            jQuery('.pagination_shop').DataTable({
                "pagingType": "full_numbers",
                "processing": true,
                "serverSide": true,
                "searching": false,
                "ordering": false,
                "ajax": {
                    "url": "<?php echo $_SERVER['REQUEST_URI'] ?>",
                    "data": function (d) {
                        d.type = "pagination_shop"
                    }
                },
                "columns": [
                    {
                        "data": "id",
                        "render": function (data, type, full, meta) {
                            <?php echo $input_type ?>
                        }
                    },
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "code"},
                ]
            });
            jQuery('.pagination_b1').DataTable({
                "pagingType": "full_numbers",
                "processing": true,
                "serverSide": true,
                "searching": false,
                "ordering": false,
                "ajax": {
                    "url": "<?php echo $_SERVER['REQUEST_URI'] ?>",
                    "data": function (d) {
                        d.type = "pagination_b1"
                    }
                },
                "columns": [
                    {
                        "data": "id",
                        "render": function (data, type, full, meta) {
                            return '<input type="radio" name="b1_item" value="' + data + '">';
                        }
                    },
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "code"},
                ]
            });
            jQuery('.pagination_linked').DataTable({
                "pagingType": "full_numbers",
                "processing": true,
                "serverSide": true,
                "searching": false,
                "ordering": false,
                "ajax": {
                    "url": "<?php echo $_SERVER['REQUEST_URI'] ?>",
                    "data": function (d) {
                        d.type = "pagination_linked"
                    }
                },
                "columns": [
                    {"data": "id"},
                    {"data": "b1_reference_id"},
                    {"data": "name"},
                    {"data": "b1_name"},
                    {"data": "upc"},
                    {
                        "data": "id",
                        "render": function (data, type, full, meta) {
                            return '<button type="submit" item-id="' + data + '" class="btn btn-success btn-sm unlink-button">Unlink</button>';
                        }
                    }
                ]
            });
        });
        jQuery(document).on("click", "tr", function (e) {
            jQuery(this).find('input:radio').attr('checked', true);
            var chk = jQuery(this).find('input:checkbox').get(0);
            if (chk !== undefined && e.target != chk) {
                chk.checked = !chk.checked;
            }
        });
        jQuery('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = jQuery(e.target).attr("href");
            if (target = '#unlinked_items') {
                jQuery('.pagination_shop').DataTable().ajax.reload();
                jQuery('.pagination_b1').DataTable().ajax.reload();
            }
            if (target = '#linked_items') {
                jQuery('.pagination_linked').DataTable().ajax.reload();
            }
        });
        jQuery("#link_submit").click(function (ev) {
            ev.preventDefault();
            var frm = jQuery('#link');
            jQuery.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    shop = jQuery('input[name=shop_item]:checked').val();
                    b1 = jQuery('input[name=b1_item]:checked').val();
                }
            });
            jQuery('.pagination_shop').DataTable().ajax.reload();
            jQuery('.pagination_b1').DataTable().ajax.reload();
            return false;
        });
        jQuery(document).on("click", ".unlink-button", function (ev) {
            var item_id = jQuery(this).attr("item-id");
            ev.preventDefault();
            jQuery.ajax({
                data: {form: "unlink_product", shop_item: item_id},
                success: function (data) {
                    jQuery('.pagination_linked').DataTable().ajax.reload();
                }
            });
            return false;
        });
        jQuery(document).on("click", ".reset-button", function (ev) {
            ev.preventDefault();
            if (window.confirm("Are you sure?")) {
                jQuery.ajax({
                    data: {form: "reset_all"},
                    success: function (data) {
                        jQuery('.pagination_linked').DataTable().ajax.reload();
                    }
                });
            }
            return false;
        });
        jQuery(document).on("click", ".reset-orders-button", function (ev) {
            ev.preventDefault();
            if (window.confirm("Are you sure?")) {
                jQuery.ajax({
                    data: {form: "reset_all_orders"},
                    success: function (data) {
                    }
                });
            }
            return false;
        });
    });
</script>
<style>
    .dataTable {
        width: 100% !important;
    }
</style>