<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<style>
    .nav {
        display: block;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .nav-tabs {
        margin-bottom: 15px;
        background-color: #fff;
        border-top: none;
        padding-top: 0px;
    }

    .control-label {
        font-size: 12px;
        padding-top: 8px;
    }
</style>
<div id="content" class="b1-extension">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="mailto:info@b1.lt" data-toggle="tooltip" title="Contact" class="btn btn-default">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="https://www.b1.lt/doc/api/" data-toggle="tooltip" title="B1 API documentation" target="_blank" class="btn btn-default">
                    <i class="fa fa-book"></i> <span class="hidden-xs">B1 API documentation</span>
                </a>
                <a href="https://www.b1.lt/b1-api" data-toggle="tooltip" title="B1 Help page" target="_blank" class="btn btn-default">
                    <i class="fa fa-book"></i> <span class="hidden-xs">B1 Help page</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#settings" data-toggle="tab"><span class="text-primary"><i class="fa fa-cogs"></i></span> <span class="text-primary hidden-xs">Settings</span></a></li>
            <li><a href="#unlinked_items" data-toggle="tab"><span class="text-warning"><i class="fa fa-unlink"></i></span> <span class="text-warning hidden-xs">Unlinked items</span></a></li>
            <li><a href="#linked_items" data-toggle="tab"><span class="text-warning"><i class="fa fa-link"></i></span> <span class="text-warning hidden-xs">Linked items</a></span></li>
        </ul>
        <div class="tab-content">
