<div class="tab-pane" id="linked_items">
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-link"></i> Linked items</h3>
                </div>
                <div class="panel-body">
                    <table id="b1-linked_items" class="pagination_linked table table-condensed table-hover" data-source-url="http://" data-unlink-url="http://">
                        <thead>
                        <tr>
                            <th>ID (eshop)</th>
                            <th>ID (B1)</th>
                            <th>Name</th>
                            <th>Name (B1)</th>
                            <th>Code</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="alert alert-info" role="alert">Lists items that are linked between eshop & B1.</div>
        </div>
    </div>
</div>   
