<?php
$settings = $block->settings();
$items = $block->items();
$orders = $block->orders();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
?>
<div class="tab-pane active" id="settings">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cogs"></i> Configuration</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>">
                        <input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey(); ?>"/>
                        <div class="form-group clearfix">
                            <div class="col-sm-3">
                                <label class="control-label">Shop unique identifier</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" name="shop_identifier" value="<?php echo $settings->getValue('b1/shop_identifier'); ?>" placeholder="Shop unique identifier" type="text">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group clearfix">
                            <div class="col-sm-3">
                                <label class="control-label">Orders sync from</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" name="orders_sync_from" value="<?php echo $settings->getValue('b1/orders_sync_from'); ?>" placeholder="Orders sync from" type="text">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group clearfix">
                            <div class="col-sm-3">
                                <label class="control-label">API key</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" name="api_key" value="<?php echo $settings->getValue('b1/api_key'); ?>" placeholder="API key" type="text">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group clearfix">
                            <div class="col-sm-3">
                                <label class="control-label">Private key</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" name="private_key" value="<?php echo $settings->getValue('b1/private_key'); ?>" placeholder="Private key" type="text">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group clearfix">
                            <div class="col-sm-3">
                                <label class="control-label">Items relations for link:</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" name="relation_type">
                                    <option value="1_1" <?php if ($settings->getValue('b1/relation_type') == '1_1') {
                                        echo 'selected';
                                    } ?>>One to one
                                    </option>
                                    <option value="more_1" <?php if ($settings->getValue('b1/relation_type') == 'more_1') {
                                        echo 'selected';
                                    } ?>>More to one
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group clearfix">
                            <div class="col-sm-3">
                                <label class="control-label">VAT Tax rate</label>
                            </div>
                            <div class="col-sm-9">
                                <input class="form-control" name="tax_rate" value="<?php echo $settings->getValue('b1/tax_rate'); ?>" placeholder="VAT Tax rate" type="text">
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-dashboard"></i> Stats</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-8">
                            Items in eshop
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-info" id="items-count-eshop"><?php echo $items->getShopItemsCount(); ?></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            Items in B1
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-primary" id="items-count-b1"><?php echo $items->getB1ItemsCount(); ?></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-8">
                            Orders that failed to sync
                        </div>
                        <div class="col-sm-4 text-right">
                            <span class="label label-danger" id="items-count-order_fail"><?php echo $orders->getFailedOrders(); ?></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-default reset-button">Unlink all</button>
            <button type="submit" class="btn btn-default reset-orders-button">Reset all orders</button>
        </div>
    </div>
</div>    