<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
?>
<div class="tab-pane" id="unlinked_items">
    <form id="link" method="POST" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'] ?>">
        <input type="hidden" name="form" value="link_product">
        <input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey(); ?>"/>
        <div class="row">
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-unlink"></i> Eshop items</h3>
                    </div>
                    <div class="panel-body">
                        <table id="eshop-unlinked_items" class="pagination_shop table table-condensed table-hover" data-source-url="http://">
                            <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Code</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <button style="margin-bottom:15px;" id="link_submit" type="submit" class="btn btn-block btn-success">
                    <i class="fa fa-link"></i> Link
                </button>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-unlink"></i> B1 items</h3>
                    </div>
                    <div class="panel-body">
                        <table id="b1-unlinked_items" class="table pagination_b1 table-condensed table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Code</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
                Lists items that are in eshop &amp; B1 and are not linked.
                <strong>Every new item entered in ehop or B1 should be manually linked here.</strong>
                To link items:<br>
                1. Select item from eshop;<br>
                2. Select item from B1;<br>
                3. Press sync button;<br>
                5. Tables should be reset to ther default states.
            </div>
        </div>
    </div>
</div>  
